body {
    padding-top: 50px;
}

#content {
    width: 80%;
    margin: 50px auto;
}

.form-col {
  display: inline-block;
  width: 45%;
}

.vert-spacer {
    display: inline-block;
    width: 5%;
}

select.form-control {
    width: auto;
}

.errorlist {
    color: #b94a48;
}

.static.hide {
    display: none;
}
