{% extends "site_base.html" %}

{% load i18n %}

{% block content %}

{% block page-title %}
  {% if action == "add" %}
  {% trans "Add Degree" %}
  {% elif action == "edit" %}
  {% trans "Edit Degree" %}
  {% endif %}
{% endblock %}

<form role="form" action="{{ request.path }}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group {% if form.name_da.errors %}has-error{% endif %}">
    <label class="control-label" for="id_name_da">{{ form.name_da.label }}</label>
  {{ form.name_da }}
  </div>
  <div class="form-group {% if form.name_en.errors %}has-error{% endif %}">
    <label class="control-label" for="id_name_en">{{ form.name_en.label }}</label>
  {{ form.name_en }}
  </div>
  <div class="form-group {% if form.degree_id_da.errors %}has-error{% endif %}">
    <label class="control-label" for="id_degree_id_da">{{ form.degree_id_da.label }}</label>
  {{ form.degree_id_da }}
      <span class="help-block">{{ form.degree_id_da.help_text }}</span>
  </div>
  <div class="form-group {% if form.degree_id_en.errors %}has-error{% endif %}">
    <label class="control-label" for="id_degree_id_en">{{ form.degree_id_en.label }}</label>
  {{ form.degree_id_en }}
      <span class="help-block">{{ form.degree_id_en.help_text }}</span>
  </div>
  <div class="form-group {% if form.level.errors %}has-error{% endif %}">
    <label class="control-label" for="id_level">{{ form.level.label }}</label>
  {{ form.level }}
      <span class="help-block">{{ form.level.help_text }}</span>
  </div>

  <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
  <button type="submit" class="btn btn-default" name="_addanother">{% trans "Save and add another" %}</button>

</form>
{% endblock %}
