{% load i18n %}

{% if question.question_da and question.answer_da %}
<div class="question-answer noanswer">
  <div class="question">
    <span class="flag dk"></span><span>{{ question.question_da }}</span>
  </div>
  <div class="answer">{{ question.answer_da }}</div>
</div>
{% endif %}
{% if question.question_en and question.answer_en %}
<div class="question-answer noanswer">
  <div class="question">
    <span class="flag uk"></span><span>{{ question.question_en }}</span>
  </div>
  <div class="answer">{{ question.answer_en }}</div>
</div>
{% endif %}
<div class="categories">
  <span class="title small">{% trans "Categories" %}:</span>
{% for category in question.categories.all %}
  <span class="category tag{% if category.id in c %} active{% endif %}">{{ category }}</span>
{% endfor %}
</div>
<div class="degrees">
  <span class="title small">{% trans "Degrees" %}:</span>
{% for degree in question.degrees.all %}
<span class="degree tag{% if degree.id in d %} active{% endif %}">{{ degree }}</span>
{% endfor %}
</div>
