{% extends "site_base.html" %}

{% load i18n %}

{# Fix static files #}
{% block js %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/search.js"></script>
{% endblock %}

{% block nav-qa %} class="active"{% endblock %}

{% block page-title %}{% trans "Questions" %}{% endblock %}

{% block content %}

<p>
<a href="{% url 'question_add' %}" class="btn btn-primary">{% trans "Add question" %}</a>
</p>

<p>
<input type="text" class="form-control filter" id="search" name="question" placeholder="{% trans "Filter.." %}" />
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Question" %}</th>
      {# <th>{% trans "Active" %}</th> #}
      <th>{% trans "Added" %}</th>
      <th>{% trans "Last edit" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
<tbody id="ajax-response"></tbody>
<tbody class="static">
{% for question in questions %}
<tr>
  <td class="qa-row">
    {% include "question.html" with question=question %}
  </td>
  <td>{{ question.date_added }}</td>
  <td>{{ question.date_last_edit }}</td>
  <td>
    {% if perms.qa.change_question %}
    <a href="{% url 'question_edit' question.id %}" class="btn btn-success btn-xs" role="button">
      {% trans "Edit" %}
    </a>
    {% endif %}
    {% if perms.qa.delete_question %}
    <a href="{% url 'question_delete' question.id %}" class="btn btn-danger btn-xs" role="button">
      {% trans "Delete" %}
    </a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

<ul class="pagination">
  <li{% if not questions.has_previous %} class="disabled"{% endif %}>
  {% if questions.has_previous %}
    <a href="?page={{ questions.previous_page_number }}">&laquo;</a>
  {% else %}
    <a href="#">&laquo;</a>
  {% endif %}
  </li>

  {% for num in questions.paginator.page_range %}
    {% ifequal num questions.number %}
      <li class="active">
        <a href="#">{{ num }} <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li>
        <a href="?page={{ num }}">{{ num }}</a>
      </li>
    {% endifequal %}
  {% endfor %}

  <li{% if not questions.has_next %} class="disabled"{% endif %}>
  {% if questions.has_next %}
    <a href="?page={{ questions.next_page_number }}">&raquo;</a>
  {% else %}
    <a href="#">&raquo;</a>
  {% endif %}
  </li>
</ul>
<script>
Search.init();

$('.question').on('click', function () {
  if ($(this).parent().hasClass('noanswer')) {
    $(this).parent().removeClass('noanswer');
  } else {
    $(this).parent().addClass('noanswer');
  }
});
</script>
{% endblock %}
