{% extends "site_base.html" %}

{% load i18n %}

{# Fix static files #}
{% block js %}
<script type="text/javascript" charset="utf-8" src="/jsi18n"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/search.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/question.js"></script>
{% endblock %}

{% block nav-qa %} class="active"{% endblock %}

{% block page-title %}{% trans "Questions" %}{% endblock %}

{% block content %}

<p>
<a href="{% url 'question_add' %}" class="btn btn-primary">{% trans "Add question" %}</a>
</p>

<p>
<label for="search">{% trans "Search" %}</label>
<input type="text" class="form-control filter" id="search" name="question" placeholder="{% trans "Search.." %}" value="{% if q %}{{ q }}{% endif %}" />
</p>
<p>

{# Custom filter #}
<div class="filter-wrapper">
  <div class="head">{% trans "Filter" %}</div>
  <span id="toggle-filter" class="glyphicon glyphicon-plus"></span>
  <div class="filters{% if c or d %} open{% endif %}">
    <div class="filters-wrap">
      <div class="filter-wrap">
        <div class="title">{% trans "Categories" %}</div>
        <div id="categories" class="categories checkbox-list">
        {% for category in filters.categories %}
        <div class="checkbox">
          <label>
            <input name="category" type="checkbox" value="{{ category.id }}" {% if category.id in c %}checked="checked" {% endif %}/>
            {{ category.name_ }}
          </label>
        </div>
        {% endfor %}
        </div>
      </div>

      <div class="filter-wrap">
        <div class="title">{% trans "Degrees" %}</div>
        <div class="checkbox-list" id="degrees">
        {% for degree in filters.degrees %}
        <div class="checkbox">
          <label>
            <input name="degree" type="checkbox" value="{{ degree.id }}" {% if degree.id in d %}checked="checked" {% endif %}/>
            {{ degree.name_da }}
          </label>
        </div>
        {% endfor %}
        </div>
      </div>
  </div>
  <a href="#" class="btn btn-default" id="filter">{% trans "Use filter" %}</a>
    </div>
</div>

</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Question" %}</th>
      {# <th>{% trans "Active" %}</th> #}
      <th>{% trans "Rating" %}</th>
      <th>{% trans "Added" %}</th>
      <th>{% trans "Last edit" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
<tbody id="ajax-questions"></tbody>
<tbody class="static">
{% for question in questions %}
<tr>
  <td class="qa-row">
    {% include "question.html" with question=question c=c d=d %}
  </td>
  <td>{{ question.rating_count }}</td>
  <td>{{ question.date_added }}</td>
  <td>{{ question.date_last_edit }}</td>
  <td>
    {% if perms.qa.change_question %}
    <a href="{% url 'question_edit' question.id %}" class="btn btn-success btn-xs" role="button">
      {% trans "Edit" %}
    </a>
    {% endif %}
    {% if perms.qa.delete_question %}
    <a href="{% url 'question_delete' question.id %}" class="btn btn-danger btn-xs" role="button">
      {% trans "Delete" %}
    </a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

<ul class="pagination">
  <li{% if not questions.has_previous %} class="disabled"{% endif %}>
  {% if questions.has_previous %}
    <a href="{{ questions.page_link }}{{ questions.previous_page_number }}">&laquo;</a>
  {% else %}
    <a href="#">&laquo;</a>
  {% endif %}
  </li>

  {% for num in questions.paginator.page_range %}
    {% ifequal num questions.number %}
      <li class="active">
        <a href="#">{{ num }} <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li>
        <a href="{{ questions.page_link }}{{ num }}">{{ num }}</a>
      </li>
    {% endifequal %}
  {% endfor %}

  <li{% if not questions.has_next %} class="disabled"{% endif %}>
  {% if questions.has_next %}
  <a href="{{ questions.page_link }}{{ questions.next_page_number }}">&raquo;</a>
  {% else %}
    <a href="#">&raquo;</a>
  {% endif %}
  </li>
</ul>
<script>
Search.init();

QuestionIndex.init();
</script>
{% endblock %}
