{% load compress %}
{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Science QA{% endblock %}</title>
    {% bootstrap_css %}
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/style.less" />
    {% block css %}
    {% endblock %}
    {% endcompress %}
    {% block prejquery %}
    {% endblock %}
    <script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {# {% compress js %} #}
    {% block js %}
    {% endblock %}
    {# {% endcompress %} #}
  </head>
  <body>
    {# {% include "menu.html" %} #}
    <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand">Science QA - Administration</a>
        {% block nav %}
        <ul class="nav navbar-nav">
          <li{% block nav-qa %}{% endblock %}>
            <a href="{% url 'questions' %}">{% trans "Questions" %}</a>
          </li>
          <li{% block nav-cat %}{% endblock %}>
            <a href="{% url 'categories' %}">{% trans "Categories" %}</a>
          </li>
          <li{% block nav-deg %}{% endblock %}>
            <a href="{% url 'degrees' %}">{% trans "Degrees" %}</a>
          </li>
        </ul>
        {% endblock %}
        {% if user.is_authenticated %}
        <p class="navbar-text navbar-right">{% trans "Logged in as" %} <b>{{ user.username }}</b>.
        <a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Logout" %}</a>
        {% endif %}
      </div>
    </div>
    <div id="content">
      <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
